# Ansible vars/inventory
host_vars/**/*.yml
group_vars/**/*.yml
inventory/**/*.yml
vaults/*.yml

# Keep placeholder files
!host_vars/keep
!group_vars/keep
!inventory/keep
!vaults/keep

# Collection build artefacts
*.tar.gz
MANIFEST.json

# Python cache
**/__pycache__/
*.py[cod]

# Editors
*.swp
*.swo
*.tmp

# LibreOffice lock files
*.~lock.*#

# Local env/config
.env

# Logs, status files
*.txt
*.log
*.old
*.bak
*.bck

# OS/IDE clutter
.DS_Store
Thumbs.db
.vscode/
.idea/
.zed/
.zed/*
