# niet committen
host_vars/*yml
group_vars/*yml

# Ignore all inventory files
inventory/*.yml

# Python cache-bestanden
**/__pycache__/
*.py[cod]

# LibreOffice lock files
*.~lock.*#

# Ignore Vim/Neovim swap files
*.swp

# Igonore Environment file
.env

# Ignore status files
*.txt
*.log
*.old
*.back
*.bck
