# Ignore all Ansible variable and inventory YAML files (recursively)
host_vars/**/*.yml
group_vars/**/*.yml
inventory/**/*.yml

# Keep placeholder files
!host_vars/keep
!group_vars/keep
!inventory/keep

# Python cache-bestanden
**/__pycache__/
*.py[cod]

# LibreOffice lock files
*.~lock.*#

# Vim/Neovim swap files
*.swp

# Environment file
.env

# Status/log files
*.txt
*.log
*.old
*.back
*.bck
