---
- name: Generate Foomuuri configuration
  ansible.builtin.template:
    src: foomuuri.conf.j2
    dest: "{{ foomuuri_config_path | default('/etc/foomuuri') }}/foomuuri.conf"
    owner: root
    group: root
    mode: '0644'
    backup: true
  notify:
    - Validate foomuuri config
    - Restart foomuuri
  register: foomuuri_config_result

- name: 1. Create raw nftables rule files (If Enabled)
  ansible.builtin.copy:
    content: "{{ item.content }}"
    dest: "{{ foomuuri_config_path | default('/etc/foomuuri') }}/{{ item.name }}"
    owner: root
    group: root
    mode: '0644'
    backup: true
  loop: "{{ foomuuri_raw_nft_files + foomuuri_extra_raw_nft_files }}"
  when: (foomuuri_raw_nft_files or foomuuri_extra_raw_nft_files) and item.enabled | default(true)
  notify:
    - Validate foomuuri config
    - Restart foomuuri

- name: 2. Remove raw nftables rule files (If Disabled)
  ansible.builtin.file:
    path: "{{ foomuuri_config_path | default('/etc/foomuuri') }}/{{ item.name }}"
    state: absent # Dit zorgt ervoor dat het bestand wordt verwijderd
  loop: "{{ foomuuri_raw_nft_files + foomuuri_extra_raw_nft_files }}"
  when: (foomuuri_raw_nft_files or foomuuri_extra_raw_nft_files) and item.enabled is defined and not item.enabled
  notify:
    - Validate foomuuri config
    - Restart foomuuri

- name: Ensure systemd service is enabled
  ansible.builtin.systemd:
    name: "{{ foomuuri_service_name | default('foomuuri') }}"
    enabled: true
    daemon_reload: true
  changed_when: false

- name: Ensure Foomuuri service is running
  ansible.builtin.systemd:
    name: "{{ foomuuri_service_name | default('foomuuri') }}"
    state: started
  register: foomuuri_service_status

- name: Display service status
  ansible.builtin.debug:
    msg: "Foomuuri service is {{ foomuuri_service_status.status.ActiveState }}"
